

<script>
  $('head').append('<%= stylesheet_link_tag 'compras'%>');
  $('#u273').addClass('MuseMenuActive');
</script>

<% if notice %> 
  <p id="notice"><%= notice %></p> 
<% end %>


<%= form_for(@order) do |f| %>
<% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="clearfix colelem" id="pu854"><!-- group -->
  <div class="clearfix grpelem" id="u854"><!-- column -->
    <div class="clearfix colelem" id="u775-4"><!-- content -->
      <p id="u775-2">Información de usuario</p>
    </div>
    <div class="clearfix colelem" id="u776-11"><!-- content -->
      <p id="u776">&nbsp;</p>
      <p id="u776-3">Nombre:</p>
      <p id="u776-5">Correo: <%= current_user.email %></p>
      <div class="field">
      <p id="u776-7">Dirección:
        <%= f.text_area :address, rows: 3, cols: 40 %>
        </p>
      </div>
      <div class="field">
        <p id="u776-9">Tipo de pago:
        <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Seleccione el método de pago' %>
        </p>
      </div>
      
    </div>
  </div>

  
  <div class="clearfix grpelem" id="pu788-4"><!-- column -->
    <div class="clearfix colelem" id="u788-4"><!-- content -->
      <p id="u788-2">Confirmar compra</p>
    </div>
    <div class="clearfix colelem" id="pu789-9"><!-- group -->
      <div class="clearfix grpelem" id="u789-9"><!-- content -->
        <p id="u789">&nbsp;</p>
        <p id="u789-3">Cantidad de productos: <%= @cart.total_items%></p>
        <p id="u789-5">Total a pagar: <%= number_to_currency(@cart.total_price) %></p>
        <p id="u789-6">&nbsp;</p>
        <p id="u789-7">&nbsp;</p>
      </div>
      <div class="actions">
      <div class="rounded-corners clearfix grpelem" id="lu791-4"><!-- content -->
        <p id="u791-2"><%= f.submit 'Realizar el pedido'%></p>
      </div>
        </div>
    </div>
  </div>
</div>
<% end %>