<% if notice %> 
  <p id="notice"><%= notice %></p> 
<% end %>

<ul> 
  <% @cart.line_items.each do |item| %> 
  <li><%= item.quantity %> &times; <%= item.product.name %> = <%= number_to_currency(item.total_price) %></li>
  <% end %> 
</ul>
<p>Total: <%= number_to_currency(@cart.total_price) %></p>
<%= button_to 'Vaciar carrito', @cart, method: :delete, data: { confirm: '¿Estás seguro?' } %>

