<script>
  $('head').append('<%= stylesheet_link_tag 'cat_logo'%>');
  $('#u280').addClass('MuseMenuActive');
</script>

<!-- <h1>Listing products</h1>

<a href="/nuevos">Nuevos productos</a>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><img src="<%= product.image %>" height=200></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Agregar al carrito', line_items_path(product_id: product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
  
<div class="clearfix colelem" id="u773-6"><!-- content -->
  <h2 class="ts05-Subtitle-Allura" id="u773-2">Nuestros</h2>
  <h1 class="ts05-Title-Graduate" id="u773-4">Productos</h1>
</div>

<div class="clearfix colelem" id="u772"><!-- group -->
  <div class="clearfix grpelem" id="u766"><!-- column -->
    <% @ayuda = true %>
    <% @products.each do |product| %>
    <% if @ayuda %>
    <div class="clearfix colelem" id="pu764-4>"><br><!-- group -->
      <div class="clearfix grpelem" id="u764-4"><!-- content -->
        <p><img src="<%= product.image %>" style="width: 249px"></p>
      </div>
      <div class="clearfix grpelem" id="u762-4"><!-- content -->
<!--         <p id="u762-2"> -->
        <div class="clearfix grpelem" id="pu788-4"><!-- column -->      
          <div class="clearfix colelem" id="u788-4"><!-- content -->       
            <p id="u788-2"><%= product.name %></p>      
          </div>      
          <div class="clearfix colelem" id="pu789-9"><!-- group -->       
            <div class="clearfix grpelem" id="u789-9"><!-- content -->        
              <p id="u789">&nbsp;</p>        
              <p id="u789-3"><%= product.description %></p>        
              <p id="u789-5">Costo: <%= product.price %></p>        
              <p id="u789-6">&nbsp;</p>        
              <p id="u789-7">&nbsp;</p>       
            </div>       
            <div class="rounded-corners clearfix grpelem" id="u791-4"><!-- content -->        
              <p id="u791-2" ><%= button_to 'Agregar al carrito', line_items_path(product_id: product) %></p>
            </div>      
          </div>     
        </div>
<!--         </p> -->
      </div>
    </div>
    <% else %>
    <div class="clearfix colelem" id="pu765-4"><br><!-- group -->
       <div class="clearfix grpelem" id="u765-4"><!-- content -->
<!--         <p id="u765-2"> -->
         <div class="clearfix grpelem" id="pu788-4"><!-- column -->      
          <div class="clearfix colelem" id="u788-4"><!-- content -->       
            <p id="u788-2"><%= product.name %></p>      
          </div>      
          <div class="clearfix colelem" id="pu789-9"><!-- group -->       
            <div class="clearfix grpelem" id="u789-9" style="text-align: left"><!-- content -->        
              <p id="u789">&nbsp;</p>        
              <p id="u789-3"><%= product.description %></p>        
              <p id="u789-5">Costo: <%= product.price %></p>        
              <p id="u789-6">&nbsp;</p>        
              <p id="u789-7">&nbsp;</p>       
            </div>       
            <div class="rounded-corners clearfix grpelem" id="u791-4"><!-- content -->        
              <p id="u791-2" ><%= button_to 'Agregar al carrito', line_items_path(product_id: product) %></p>
            </div>      
          </div>     
        </div>
<!--          </p> -->
       </div>
       <div class="clearfix grpelem" id="u767-4"><!-- content -->
        <p><img src="<%= product.image %>" style="width: 249px"></p>
       </div>
      </div>
    <% end %>
    <%@ayuda = !@ayuda%>
    <%end%>
  </div>
</div>

<%= link_to 'New Product', new_product_path %>
