<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><img src="<%= product.image %>" height=200></td>
        <td><%= product.description %></td>
        <td><%= button_to 'Agregar al carrito', line_items_path(product_id: product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>